* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
p {
    padding: 10px;
    border-radius: 10px;
    border-left: 3px solid rgba(212, 118, 9, 0);
    margin: 25px;
}
